:root{
  --backgroung-color:#EAEAEA;
  --primary-color:#EA1D25;
  --secondary-color:#FFF;
  --text-color:#5C6569;
  --positive-variation-color:#87D883;
  --negative-variation-color:#F55A57;
  --text-color-light:rgba(92,99,105,0.45);
}

*{
  box-sizing: border-box;

}
html, body{
  height: 100%;
  width:100%;
  margin: 0;
  background-color: var(--backgroung-color);
  font-family: 'Segoe UI', sans-serif;
}
